* {
  padding: 0;
  margin: 0;
}
body {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.sss-popup-container {
  width: 250px;
  height: 400px;
  background-color: #F5F5F5;
  padding: 0 30px;
  @apply flex justify-center flex-col items-center;
}

.sss-detect {
  width: 150px;
  height: 52px;
  @apply flex justify-center items-center bg-white text-[#000] hover:shadow-2xl hover:text-[#7ED161] cursor-pointer ;
}

.sss-btn-container {
  margin-top: 40px;
  @apply flex justify-between w-full;
}

.sss-btn {
  width: 97px;
  height: 48px;
  @apply flex justify-center items-center hover:shadow-2xl hover:text-[#7ED161] bg-white text-[#000]  cursor-pointer;
}

.sss-hover {
  background: rgba(255, 0, 0, 0.5) !important;
}